body {
    background-color: rgb(48,48,48);
}

.tornadoIMG{
    background-color: transparent;
    height: 350px;
}

.about-us-container {
    padding-top: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.page-content {
    width: 500px;
    text-align: center;
}

.about-us-title {

    font-family: "Roboto";
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 4x;
    color: rgb(155, 73, 34);
}

.about-us-content {
    color:white;
    padding-top: 50px;
    font-size: 20px;
    line-height: 38px;
}